/* aside */
ul#sidebar_categories {}
ul#sidebar_tags {}
ul#sidebar_archives {}


/* posts loading icons */
#main > .fa-stack {display: block; margin: 20px auto 0;}
	#main > .fa-stack > i {}
	#main > .fa-stack > i:first-of-type {color: #AAA;}
	#main > .fa-stack > i:nth-of-type(2) {color: #BBB;}
	#main > .fa-stack > i:nth-of-type(3) {color: white;
		position:relative; top:30px; left:-10px;}
	#main > .fa-stack > i:nth-of-type(4) {color: white;
		position:relative; top:30px; right:-10px;}



/* Posts */
main.main > section#main > article.post {position: relative;}

	.post:not(:last-of-type) {
		border-bottom: 1px solid rgb(32,70,118);
		margin-bottom: 40px;
		padding-bottom: 40px;
	}
	/* category */
	.post > small {
		text-transform: capitalize;

		padding: 3px 5px;
		margin-left: 10px;
		background: #f1f1f1;
		float: right;

	}
		.post > small > a {color: rgb(74,149,172);}

	/* title */
	.post > h3 {}

	/* date */
	.post > time {}

	/* embed/external element */
	.post > section {margin: 20px auto 0;}
		.post > section > img, .post > section > iframe {
			width: 100%;
			box-shadow: rgba(0,0,0,0.2) 0 1px 5px;
		}
		.post > section > img {border: 3px solid #f1f1f1;}
		.post > section > iframe {}

	/* post info - content */
	.post > article {margin: 20px auto 0;}
		/* post headers */
		.post > article h6 {}
		/* post lists */
			.post > article ul {}
			.post > article ul > li {
				text-indent:-20px;
				margin-left:20px;
			}
			.post > article ul > li i {font-weight: 400;}
			.post > article ul > li em {color: black;}
		/* post desc */
		.post > article p {text-indent: 10px;}
		.post > article p:not(:last-of-type) {margin-bottom: 20px;}
		/* post quotes */
		.post > article > blockquote {}
			.post > article > blockquote:not(:last-of-type) {margin-bottom: 20px;}
			.post > article > blockquote > small {font-weight: 400;}
			.post > article > blockquote > small > cite {font-style: italic;}


	/* post lists - tags and links */
	.post_tags:before, .post_links:before {
		font-family: "FontAwesome";
		margin-right: 10px;
		color: #f1f1f1;
		text-shadow: rgba(0,0,0,0.1) 0 1px 1px;
	}
	.post_tags, .post_links {margin-top: 20px;}
	.post_tags li, .post_links li {display: inline-block;}
	.post > .post_tags li:not(:last-of-type),
	.post > .post_links li:not(:last-of-type) {margin-right: 10px;}

	/* post tags */
	.post > .post_tags {}
	.post > .post_tags:before {content: '\f02c';}
	.post > .post_tags li {}
	.post > .post_tags li:not(:last-of-type) {margin-right: 10px;}
	.post > .post_tags li:not(:last-of-type):after {content: ", ";}

	/* post links */
	.post > .post_links:before {content: '\f0c1';}
	.post a[href*="instagram"]:before,
	.post a[href*="soundcloud"]:before,
	.post a[href*="facebook"]:before,
	.post a[href*="twitter"]:before,
	.post a[href*="youtube"]:before {font-family: 'FontAwesome';}
	.post a[href*="instagram"]:before {content: '\f16d';}
	.post a[href*="soundcloud"]:before {content: '\f1be';}
	.post a[href*="facebook"]:before {content: '\f230';}
	.post a[href*="twitter"]:before {content: '\f099';}
	.post a[href*="youtube"]:before {content: '\f16a';}


a.load_more {
	display: block;
	margin-top: 40px;
	width: 100%;
	text-align: center;
}
