/***** Reset ***********************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/***** VARIABLES *******************************/
/***** COLORS *****
$offwhite = #f1f1f1 - rgb(241,241,241);
$gray = #e1e1e1 - rgb(225,225,225);
$mildgray = #c1c1c1 -
$darkgray = #333 -
$superlight = #bad9dd - rgb(186,217,221);
		#acd3db
		//only in background gradient
$skyblue = #95d3db - rgb(149,211,219);
$seafoamblue = #4A95AC - rgb(74,149,172);
$oceanblue = #1E739D - rgb(30,115,157);
$nightblue = #204676 - rgb(32,70,118);
// alts - reds
$mutered = #F77F86 - rgb(247,127,134);
#deepmutered = #DF676E - rgb(223,103,110);
$red = #DF464D - rgb(223,70,77);
// shadows
$mainshadow: rgba(0,0,0,0.2) 0 1px 1px;
$mainshadow: rgba(0,0,0,0.2) 0 1px 3px;


/***** Main Styles *****************************/
/* general styling and colors */
body {
	background: #f1f1f1;
	color: rgb(30,115,157);
	font: 16px/24px 'Fira Sans', Arial, Helvetica, Geneva, sans-serif;
	/* font-weight: 300; */
}
h1, h2, h3, h4, h5, h6 {color: #f1f1f1;}
a {
	color: rgb(32,70,118);
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}
a:visited {}
a:hover {color: rgb(74,149,172);}
a:active {color: rgb(223,103,110);}
ul {list-style: none;}
code {
	font-family: monospace;
	background: #f1f1f1;
	margin: 0 3px;
	padding: 3px 3px 0;
}
::selection {color: #f1f1f1; background-color: rgb(32,70,118);}

/* specific element colors */
header {
	background: radial-gradient(rgb(74,149,172) 0%, rgb(30,115,157) 50%, rgb(32,70,118) 100%);
}
main {
	background: #95d3db;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #95d3db 10%, #acd3db 100%); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #95d3db 10%, #acd3db 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer {
	color: #c1c1c1;
	background: linear-gradient(to top, rgb(30,115,157) 0%, rgb(32,70,118) 100%);
	border-top: 1px solid rgb(32,70,118);
	border-bottom: 1px solid rgb(32,70,118);
	box-shadow: inset rgba(0,0,0,0.5) 0 3px 7px;
}
footer a {color:rgb(149,211,219);}
footer a:hover {color:#f1f1f1;}

#line_nav a {color: rgb(74,149,172);}
#line_nav a.current, #line_nav a:hover {color: rgb(32,70,118);}
#magic_line {background: rgb(32,70,118);}

ul.trail a {color: rgb(32,70,118);}
ul.trail a:hover {color: rgb(74,149,172);}





/***** Main Body Elements **********************/
/* size and spacing */
header, main, footer, #page_nav, .trail {width: 100%;}
header {}
main {display: table; padding: 40px; min-width: 400px;}
main, #page_nav, .trail {max-width: 1200px; margin: 0 auto;}
#page_nav, .trail {margin-bottom: 40px;}
main > #main, main > aside {display: table-cell; vertical-align: top;}
main > #main {width: 70%; padding-left: 40px;}
main > aside {width: 30%;}
main, footer {}
footer {margin: 0 auto; padding: 20px;}


/***** Fonts ***********************************/
h2, h3, h4, h5, h6 {font-family: 'Crushed','Oswald', Arial, sans-serif; } /*font-weight:bold */
h1 {font-family: 'Kristi'; font-size: 10em; line-height: 1em;}
h2 {font-size: 2em;}
h3 {font-size: 1.75em; line-height: 110%;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.25em;}
h6 {font-size: 1.1em;}


/***** Shared Styles **************************/
.amp {font: italic 110% Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;}


/***** Header **********************************/
header {position: relative; padding: 10px 0 0;}
header h1 {
	margin: 20px auto 50px;
  text-align: center;
  text-shadow: rgba(0,0,0,0.2) 0 1px 1px;
  z-index: 50;
}
/* icon to change themes */
#settings_icons {
	position: absolute;
	top: 25px; right: 25px;
	padding: 2px 5px 1px;
	font-size: 25px;
	color: color: rgb(74,149,172);
	background: rgba(255,255,255,0.85);
	border-radius: 3px;
	box-shadow: rgba(0,0,0,0.5) 0 1px 3px;
	transition: all 0.3s;
	z-index: 100;
}
#settings_icons:hover {
	color: rgb(32,70,118);
	top: 20px; right: 20px;
	padding: 7px 10px 6px;
}
/* main site nav */
#line_nav {
	position: relative;
	width: 100%;
	padding: 0 40px;
	text-transform: uppercase;
	background: #f1f1f1;
	background: linear-gradient(#fff, #ddd);
	border-top: 3px solid rgb(74,149,172);
	border-bottom: 3px solid rgb(74,149,172);
	box-shadow: rgba(0,0,0,0.2) 0 -1px 5px,
		rgba(0,0,0,0.2) 0 1px 5px;
	z-index: 100;
}
	#line_nav a {
		display: inline-block;
		padding: 12px 0px;
		font-weight: 500;
		transition: all 0.3s ease-in-out;
	}
	#line_nav a:not(:last-of-type) {margin-right: 25px;}
	#magic_line {
		position: absolute;
		bottom: -3px;
		height: 3px;
		display: block;
		z-index: 1;
	}



/***** Mid Content *****************************/


/* links to jump between page sections */
#page_nav {}
  #page_nav nav {
    width: 100%;
    padding: 7px 10px;
    text-shadow: rgba(0,0,0,0.8) 0 1px;
    background: linear-gradient(to bottom, #444 40%, #555);
		border-radius: 2px;
    box-shadow: inset rgba(0,0,0,0.75) 0 1px 5px,
      rgba(255,255,255,0.75) 0 1px 1px;
  }
  #page_nav nav a {color: #AAA; position: relative;}
  #page_nav nav a:hover {color: #f1f1f1}
  #page_nav nav a:not(:last-of-type) {margin-right: 5px;}
  #page_nav nav a:not(:last-of-type):after {
    content: '\2022';
    color: #f1f1f1;
    margin-left: 10px;
  }

ul.trail {
	text-align: center;
	font-weight: 400;
}
	ul.trail > li {display: inline-block;}
	ul.trail > li:not(:last-of-type) {}
	ul.trail > li:not(:last-of-type):after {
		font-family: 'ionicons';
		content: '\f125';
		margin: 0 5px 0 10px;
	}




/***** Main Content ****************************/
main {}

/***** Sidebar *****/
main > aside {}
main > aside > h5 { /* Sidebar Headers and Lists */
	position: relative;
	text-align: center;
	padding-bottom: 3px;
}
	main > aside > h5:not(:first-of-type) {margin-top: 40px;}
	main > aside > h5 > i {position: absolute; bottom: 3px; right: 3px;}
	main > aside > ul {
		border-top: 1px solid rgba(0,0,0,0.2);
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}


/***** Main *****/
#main {}


/***** Footer **********************************/
footer {
	text-align: center;
	position: relative;
} /*
	#site_map, #quick_links {position: absolute; top: 20px;}
	#site_map {left: 20px; float: left;}
	#site_map > nav a {}
	#site_map > nav a:not(:first-of-type) {margin-left: 5px;} */
	#quick_links, #to_the_top {
		display: block;
		position: absolute;
	}
	/* dropdown to jump between pages */
	#quick_links {top: 20px; right: 40px;}
	/* name and version info */
	#site_info {
		display: block;
		margin: 0 200px;
	}
		#site_info h6 > i {
			margin: 0 5px;
			font-size: 1.4em;
		}
	/* to the top button */
	#to_the_top {top: 30px; left: 40px; cursor: pointer;}
	#to_the_top i {
		width: 30px;
		height: 30px;
		padding-top: 7px;
		color: black;
		background: linear-gradient(rgba(255,255,255,0.9) 0%,
			rgba(255,255,255,0.8) 40%, rgba(255,255,255,0.7) 100%);
		box-shadow: inset rgba(255,255,255,0.5) 0 1px 5px, rgba(0,0,0,0.3) 0 1px 3px;
		border: 1px solid #f1f1f1;
		border-radius: 50%;
		opacity: 0.75;
		transition: opacity 0.3s ease;
	}
	#to_the_top i:hover {opacity: 1;}
