/***** Reset ***********************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/***** VARIABLES *******************************/
/***** COLORS *****
$offwhite = #f1f1f1 - rgb(241,241,241);
$gray = #e1e1e1 - rgb(225,225,225);
$skyblue = #95d3db - rgb(149,211,219);
$seafoamblue = #4A95AC - rgb(74,149,172);
$oceanblue = #1E739D - rgb(30,115,157);
$nightblue = #204676 - rgb(32,70,118);
// unused extras
normal - #39abd6 - rgb(57,171,214)
bright - #03a7ff - rgb(3,167,255)

/***** Main Styles *****************************/
/* fonts, headings and colors */
body {
	background-color: rgb(149,211,219);
	color: rgb(74,149,172);
	font: 16px/24px 'Fira Sans', Arial, Helvetica, Geneva, sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {color: #f1f1f1;}

h1, h2, h3 {text-shadow: rgba(0,0,0,0.1) 0 1px, rgba(0,0,0,0.25) 0 0 1px;}

a {text-decoration: none; color: rgb(30,115,157);}
a:hover {color: rgb(32,70,118);}
ul {list-style: none;}
/* Colors */
header.main {
	background: linear-gradient(-25deg, rgb(32,70,118) 0%, rgb(74,149,172) 100%);
}
#lineNav a {color: rgb(74,149,172); font-weight: 500;}
#lineNav a.current, #lineNav a:hover {color: rgb(32,70,118);}


/***** Fonts ***********************************/
h1, h2, h3, h4, h5, h6 {font-family: 'Oswald', Arial, sans-serif; font-weight: bold;}
h1 {font-size: 2.5em; line-height: 1em;}
h2 {font-size: 2em;}
h3 {font-size: 1.75em;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.25em;}
h6 {font-size: 1.1em;}


/***** Shared Classes **************************/
.amp {font: italic 110% Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;}


/***** Hover Transitions ***********************/



/***** Main Body Elements **********************/
/* size, spacing, and coloring */
header.main, main.main, footer.main {width: 100%;}
main.main, footer.main {margin: 40px auto;}
main.main {
	min-width: 400px;
	max-width: 1000px;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.2);
}
main.main > #main, main.main > #sidebar {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}
main.main > #main {width: 70%; border-left: 1px solid rgba(0,0,0,0.2);}
main.main > #sidebar {width: 30%; float: left;}


/***** Header **********************************/
header.main {
	padding-top: 80px;
}
header.main a[title="share_icon"] {
	padding: 10px 10px 0px;
	position: absolute;
	right: 20px;
	top: -10px;
	color: #f1f1f1;
	text-shadow: black 0 1px;
	background: rgba(0,0,100,0.2);
	border: 1px solid #f1f1f1;
	border-top: none;
	border-radius: 0 0 3px 3px;
	box-shadow: inset rgba(0,0,0,0.1) 0 1px,
		rgba(0,0,0,0.1) 0 1px, rgba(0,0,0,0.2) 0 0 5px;
	transition: all 0.3s ease-in-out;
}
	header.main a[title="share_icon"]:hover {
		top: 0px;
		padding: 5px 10px 5px;
		color: #e7e7e7;
		background: rgba(0,0,50,0.3);
		border-color: #e7e7e7;
		box-shadow: inset rgba(0,0,0,0.2) 0 1px,
			rgba(0,0,0,0.2) 0 1px, rgba(0,0,0,0.35) 0 0 5px;
	}

/* Logo */
#logo {
  position: relative;
  width: 300px;
  margin: 0 auto 100px;
  color: #f1f1f1;
  text-align: center;
}
	#logo h1:before, #logo a {
		position: absolute;
		width: 180px;
		height: 180px;
	  left: 50%;
	  top: 50%;
	  border-radius: 10%;
	  -webkit-transform-origin: 0 0;
	  -ms-transform-origin: 0 0;
	  transform-origin: 0 0;
	  -webkit-transform: rotate(45deg) translate(-50%, -50%);
	  transform: rotate(45deg) translate(-50%, -50%);
	}
	#logo a {top: calc(50% + 12px); z-index: 100;

	}
	#logo h1:before {
	  content: '';
	  border: 5px solid #f1f1f1;
	}
	#logo h1 {position: relative;}
	#logo h1, #logo h5 {text-transform: uppercase;}
	#logo h5 {
	  font-size: 0.7em;
	  font-weight: 800;
	  padding-bottom: 10px;
	  position: relative;
	}
	#logo h5:after {
	  position: absolute;
	  content: '';
	  width: 137px;
	  height: 3px;
	  bottom: -3px;
	  background-color: #f1f1f1;
	  left: 50%;
	  -webkit-transform: translateX(-50%);
	  transform: translateX(-50%);
	}
	#logo h5 i {position: relative; top: -1px;}
	#logo .icon {
		position: relative;
		display: inline-block;
		font-size: 3em;
		color: #f1f1f1;
	}
	#logo .icon:before, #logo .icon:after {
	  position: absolute;
	  height: 3px;
	  content: '';
	  background-color: #f1f1f1;
	  width: 42px;
	  top: 50%;
	}
	#logo .icon:before {left: -50px;}
	#logo .icon:after {right: -50px;}



/* Navigation Line */
#lineNav {
	padding: 0 10px;
	position: relative;
	text-transform: uppercase;
	background: #f1f1f1;
	border-top: 3px solid rgba(74,149,172,0.75);
	border-bottom: 3px solid rgba(74,149,172,0.75);
}
	#lineNav > nav > a {
		display: inline-block;
		padding: 12px 10px;
		transition: all 0.3s ease-in-out;

	}
	#magic_line {
		background: rgb(32,70,118);
		position: absolute;
		display: block;
		height: 3px;
		bottom: -3px;
		margin-left: 10px;
	}
		#magic_line > span {
			display: block;
			position: absolute;
			top: -3px;
			left: calc(50% - 3px);
			border-bottom: 3px solid rgb(32,70,118);
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
		}


/***** Main Content ****************************/
main.main {position: relative;}
main.main > #main, main.main > #sidebar {

	border: 1px solid black;
}


/* Sidebar */
#sidebar {
	position: relative;
}
	#sidebar > article {
		width: 100%;
		height: 200px;
		background: #777 url(../imgs/me/me.jpg) top center no-repeat;
		background-size: cover;
		border: 1px solid #555;
	}


	#sidebar > h5 {
		position: relative;
		text-align: center;
		margin-bottom: 10px;
		padding-bottom: 3px;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
	#sidebar > h5:not(:first-of-type) {margin-top: 40px;}
	#sidebar > h5 > i {position: absolute; bottom: 5px; right: 0;}
	#sidebar > ul {}
	#sidebar > ul > li {}
	#sidebar > ul > li > a {transition: all 0.3s ease-in-out;}
	#sidebar > ul > li > a:hover {}


	/* sidebar lists */
	ul#sidebar_links {}
	ul#sidebar_posts {}
	ul#sidebar_tags {}
	ul#sidebar_social {}
	ul#sidebar_code {}
	ul#sidebar_tags, ul#sidebar_social {text-align: center;}
		ul#sidebar_tags > li, ul#sidebar_social > li {
			display: inline-block; margin: 0 5px;}




	.ig-b- { display: block; margin: 10px auto 0;}
	.ig-b- img { visibility: hidden; }
	.ig-b-:hover { background-position: 0 -60px; }
	.ig-b-:active { background-position: 0 -120px; }
	.ig-b-v-24 { width: 137px; height: 24px; background: url('https://badges.instagram.com/static/images/ig-badge-view-sprite-24.png') no-repeat 0 0; }
	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
		.ig-b-v-24 { background-image: url('https://badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png'); background-size: 160px 178px; }
	}


	/* to the top button */
	#to_the_top {
		display: block;
		padding: 0 5px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		opacity: 0.5;
		color: $darkblue;
		transition: all 0.3s ease-in-out;
		background: red;
	}
		#to_the_top:hover {opacity: 0.8;}


/* main */
#main {}
	#main > article[id^='preview'] {

	}
	#main > article[id^='preview']:hover a {
		text-decoration: underline;
	}
	#main > article:not(:last-of-type) {margin-bottom: 40px;}
		#main > article > h3 {
			text-align: center;
			margin-bottom: 10px;
		}
		#main > article > p {
			text-indent: 10px;
		}


/***** Footer **********************************/
footer.main {text-align: center;}
	footer.main > h6 {}
	footer.main > h6 > i {
		position: relative;
		top: -2px;
		margin: 0 5px;
	}
