/***** COLORS *****/
/*
$skyblue = #95d3db - rgb(149,211,219);
$seafoamblue = #4A95AC - rgb(74,149,172);
$oceanblue = #1E739D - rgb(30,115,157);
$nightblue = #204676 - rgb(32,70,118);
*/

/***** Supplemental Posts Pages *****************************************/
body {}
header {}
main {
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  position: relative;
}
main > h3 {
  margin-bottom: 20px;
}



/* Posts Sub Nav - to show different organization of posts */
#show_post_nav {
  position: absolute;
  display: block;
  right: 40px;
  top: 110px;
  width: 25px;
  color: #f1f1f1;
  font-size: 1.5em;
  font-family: 'ionicons';
  text-shadow: rgba(0,0,0,0.1) 0 1px 1px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s;
}
#show_post_nav.showing{
  top: 105px;
  padding: 5px 0;
  width: 35px;
  color: #777;
  text-shadow: white 0 1px;
  background: #f1f1f1;
  box-shadow: rgba(0,0,0,0.2) 0 1px 1px;
  border-radius: 0 3px 3px 0;
}
#show_post_nav.showing:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
  left: -5px;
  background: #f1f1f1;
  z-index: 100;
}
.sub_nav {
  position: absolute;
  right: 40px;
  top: 105px;
  padding: 5px 10px;
  background: #f1f1f1;
  box-shadow: rgba(0,0,0,0.2) 0 1px 1px;
  border-radius: 3px 0 3px 3px;
  opacity: 0;
  z-index: 5;
  display: none;
}
  .sub_nav h6 {color: rgb(74,149,172); margin-bottom: 5px;}
  .sub_nav a {display: block;}
  .sub_nav a.current {color: rgb(74,149,172);}



/* Posts Lists - different organized lists of posts */
.full_tag_list, .full_category_list, .full_archive_list {}
.full_tag_list li, .full_category_list li, .full_archive_list li {
  border-bottom: 1px dashed rgba(0,0,0,0.2);
}
.full_tag_list li a, .full_category_list li a, .full_archive_list li a {}
.full_tag_list span, .full_category_list span, .full_archive_list span {
  float: right;
}
.full_tag_list {}
.full_category_list {}
.full_archive_list {}



/***** All Posts *****/
#all_posts {
  max-width: 800px;
  margin: 0 auto;
}
.post {
  position: relative;

}
  .post > small {

  }
